.App {
  text-align: center;
}

.App-header {
  margin-bottom: 2%;
}

.field-container {
  height: 28px;
}

input {
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  border: none;
}

button {
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  background-color: rgb(0, 72, 0);
  color: rgb(211, 211, 211);
}

.ital {
  font-style: italic;
}

.text-green {
  color: rgb(2, 83, 2);
}

.content {
  width: 50%;
  padding: 2%;
  margin: auto;
}

/* Animations */
lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}